<div class="container">

    <h1>Angular Select Dropdown Example - HDTuto.com</h1>

      

    

          

        <div class="form-group">

            <label for="website">Website:</label>

            <select (change)="selectChangeHandler($event)">
                <option value="elephant">elephant</option>
                <option value="Tiger">Tiger</option>
                <option value="camel">camel</option>
                
            </select>

        </div>

      <img [src]="selectedDay"/>

    

   

</div>